name: publish-images-and-charts

on:
  workflow_dispatch:

jobs:
  build-test-and-publish:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v2

    - uses: actions/setup-java@v3
      with:
        java-version: '17'
        java-package: jdk
        distribution: corretto

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        cache-read-only: false

    - name: Install K8s Kind
      run: sudo ./.github/workflows/install-k8s-tools.sh


    - name: set build env
      run: |
        BUILD_DATE=$(date -u +'%Y%m%d%H%M%S')
        echo "BUILD_DATE=${BUILD_DATE}" >> "$GITHUB_ENV"
        echo "VERSION=0.1.0-BUILD.${BUILD_DATE?}" >> "$GITHUB_ENV"

    - name: Push images
      env:
        GITHUB_USER: skyglass
        GITHUB_TOKEN: ${{ secrets.GTHB_TOKEN }}
      run: ./manage/push-images.sh ${VERSION?}

    - name: Publish Helm Charts
      env: 
        GITHUB_USER: skyglass
        GITHUB_TOKEN: ${{ secrets.GTHB_TOKEN }}
      run: |
        helm repo add eventuate https://raw.githubusercontent.com/eventuate-platform/eventuate-helm-charts/helm-repository
        ./manage/publish-helm-chart.sh api-gateway-service ${VERSION?} ${VERSION?}
        ./manage/publish-helm-chart.sh customer-service ${VERSION?} ${VERSION?}
        ./manage/publish-helm-chart.sh order-service ${VERSION?} ${VERSION?}

