name: Terraform Verify

on:
  push:
    branches:
      - 'lp-4-m[0-9]-config'

jobs:
  terraform-apply:

    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: terraform-eks

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}        
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}        

    steps:
    - name: Checkout config
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.5 
        terraform_wrapper: false

    - name: Terraform init
      run: terraform init

    - name: Terraform validate
      run: terraform validate
      
